@model IEnumerable<TaskManagerApp.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-3">List of tasks</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:55%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="width:35%">
                    @Html.ActionLink("Done task", "Done", new { id = item.TaskId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Edit task", "Edit", new { id = item.TaskId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Task details", "Details", new { id = item.TaskId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete task", "Delete", new { id = item.TaskId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
